{% extends 'base.html.twig' %}

{% block title %}Редактирование клиета {{ client.id }}{% endblock %}

{% block body %}

    <a href="{{ path('client_list') }}">Назад</a>
    <br><br>

    {% for message in app.flashes('success-edit') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <h1>Редактирование клиета {{ client.firstName }}</h1>
    {{ form_start(form, { attr: { novalidate: 'novalidate', 'data-turbo': 'false' } }) }}
        <p>Скоринг: {{ client.score }}</p>
        {{ form_errors(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.education) }}
        {{ form_row(form.consent) }}
        <button>Сохранить</button>
    {{ form_end(form) }}

{% endblock %}